<html>
    <head>
        <Title>Home</Title> 
    </head>

    <body>
        
        <% if (locals.user) {%>
            <% console.log(locals.user) %>
            <h1>WELCOME BACK <%= user.username %></h1>
            <% if (!locals.user.membership){ %>
            <a href="/user/initiate">Join The Club</a> <% } %>
            <% if (!locals.user.admin && locals.user.membership){ %> 
            <a href="/user/admininitiate"> Become an Admin!</a>
            <% } %>
            <a href="/user/log-out">LOG OUT</a>
          <% } %>
        <h1>Hello, this is home</h1>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/login">Log in</a>
        <a href="/messages">Messages</a>

     
    </body>
</html>