<html>
    <head>
        <Title>Messages</Title> 
    </head>
    <body>
        <div>
            <h1>Post a message!</h1>
            <% if(locals.membershipStatus) {%> 
                <form action="/messages/create" method="POST">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" maxlength="30"> <br>
                    <textarea name="message" id="message" cols="50" rows="6" maxlength="255"></textarea><br>
                    <button>Post Message</button>
                </form>
                <% }else{ %> 
                    <span>Please Become a Member to Post Messages</span>
                    <% } %>
        </div>

        <div>
            <h1>Title of Comment</h1>
            <span>Hello this is a message</span>
            <span>Author:<% if (locals.membershipStatus) {%> 
            Josh
                <% }else{ %> Anonymous <% } %></span>
        </div>

        <div>
                <% if(messages.length > 0){ %> 
                <% messages.forEach((message) => {%> 
                    <h1> <%- message.title %></h1>
                    <span> <%- message.message %></span>
                    <span>Author:<% if (locals.membershipStatus) {%> 
                        <%- message.authorusername %>
                            <% }else{ %> Anonymous <% } %></span>
                    <span><%- message.dateposted %></span>
                <% }) %>
                <% } %>
        </div>
    </body>
</html>